
.column {
    top: 0;
    float: left;
    width: 33%;
}

.usingIcon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 33%;
}

.iconWithText {
    display: flex;
}

.borderColumn1 {
    float: left;
    width: 25%;
    border-right: 1px solid rgba($color: gray, $alpha: 0.25)
}

.tweetBtn {
    border-radius: 25px;
    background-color: #00aced;
    border-style: none;
    color: white;
    width: 85%;
    height: 48px;
}
